<div>
  <h2>Ajouter une équipe</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" id="name" class="form-control" [(ngModel)]="team.name">
          <label for="name">Nom de l'équipe</label>
        </div>
        <div class="form-group">
          <select class="form-control" [(ngModel)]="team.country">
            <option disabled>Choisir un pays</option>
              <option *ngFor="let country of countries" >{{country}}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" id="logo" class="form-control" [(ngModel)]="team.logo">
          <label for="logo">URL du logo</label>
        </div>
        <div class="form-group">
          <input type="text" id="stadium" class="form-control" [(ngModel)]="team.stadium">
          <label for="stadium">Stade</label>
        </div>
        <div class="form-group">
          <input type="text" id="coach" class="form-control" [(ngModel)]="team.coach">
          <label for="coach">Entraîneur</label>
        </div>
        <div class="form-group">
          <input type="number" id="created" min="1800" max="2020" value="2000" class="form-control" [(ngModel)]="team.founded">
          <label for="created">Année de création</label>
        </div>
        <div class="form-group">
          <select [(ngModel)]="team.cup" type="number" id="cup" class="form-control">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
          <label for="cup">Nombre de coupes remportées</label>
          <cup [nb]="team.cup"></cup>
        </div>
        <input type="submit" value="Valider" class="btn" (click)="onSubmit()">
      
    </div>
  </div>
  <div class="col-md-6">
  </div>
</div>