<h2 class="block--team--title">Liste des équipes</h2>

<div class="row">
  <div class="col-md-6">
    <span>Affichage</span>
    <select [(ngModel)]="team_display">
      <option value="fiche">Fiches</option>
      <option value="tableau">Tableau</option>
    </select>
  </div>

  <div class="col-md-6">
    <select [(ngModel)]="countrySelected" (change)="filterTeam()" [hidden]="team_display == 'fiche'" >
      <option value="0">Tous les pays</option>
      <option *ngFor="let country of countries">{{country}}</option>
    </select>
    <span [hidden]="team_display == 'fiche' || countrySelected == '0'" >{{teamsfiltered.length}} équipe(s) trouvée(s)</span>
  </div>
</div>
<team [hidden]="team_display == 'tableau'" [data-team]="team" *ngFor="let team of teams"></team>

<table [hidden]="team_display == 'fiche'" class="table table-bordered table-stripped">
  <tr>
    <th>Logo</th>
    <th>Nom</th>
    <th>Pays</th>
    <th>Stade</th>
    <th>Entraîneur</th>
    <th>Date de création</th>
    <th>Coupes remportées</th>
  </tr>
  <!-- <tr *ngFor="let team of teams" [hidden]= "countrySelected != team.country"></tr> -->
    <tr *ngFor="let team of teamsfiltered">
    <td><img src="{{ team.getLogoUrl() }}" alt="logo de {{ team.name }}" class="logo"></td>
    <td><a routerLink="/teams/{{team.name}}">{{ team.name }}</a></td>
    <td>{{ team.country }}</td>
    <td>{{ team.stadium }}</td>
    <td>{{ team.coach }}</td>
    <td [ngClass]="{old: team.founded < 1950}">{{ team.founded }}</td>
    <td><cup [nb]="team.cup"></cup></td>
  </tr>
</table>  
